/*FIND QUESTION*/
.fqa{
    margin-top:60px;
    margin-bottom:100px;
}
h5{
    text-align:center;
}
.fqa ul{
    display:flex;
    justify-content:center;
}
.fqa ul li{
    margin:15px;
}
.fqa ul li a{
    padding:15px 50px;
    display:inline-block;
    background-color:#BDC7C9;
    border-radius: 5px;
}
.fqa ul li a:hover{
    color:#333;
    background-color:#FFA99650;
}
/*CONTACT AND ASK A QUESTION*/
.input-form{
    padding:60px 130px;
    margin:0px;
    background-color:#FFEEEA;
}
.contact h5 {
    margin-bottom: 40px;
}
.btn-center{
    margin-top: 60px;
}
/*SOME Q&A*/
