.title-qa{
    text-align:center;
}
.title-qa h5{
    margin-top:10px;
    margin-bottom:40px;

}
/*FIND QUESTION*/
.fqa{
    margin-top:60px;
    margin-bottom:80px;
}
.fqa ul{
    display:flex;
    justify-content:center;
}
.fqa ul li{
    margin:15px;
}
.fqa ul li a{
    padding:15px 50px;
    display:inline-block;
    background-color:#BDC7C9;
    border-radius: 5px;
}
.fqa ul li a:hover{
    color:#333;
    background-color:#FFA99650;
}
/*contact*/
.input-form{
    margin-right:30px;
}
.input-form input{
    margin-bottom:40px;
}
.contact-inner{
    padding: 100px 130px 100px 130px;
    background-color:#FFEEEA;

}
.input-content h5{
    margin-top:5px;
    margin-bottom:20px;
}
.contact-content{
    margin-bottom:110px;
}
.contact-inner .input-form .btn-center{
    margin-top:60px;
}

