/*Showcase*/
.showcase{
    background-image: url("../img/showcase.jpg");
    background-size: cover;
}
.showcase .col-10{
    padding-top:95px;
    padding-bottom:95px;
}
.w-4{
    width:40%;
}
.w-6{
    width:60%;
}
.w-6 h3{
    margin-top:50px;
    margin-left:30px;
}
.show-img1{
    margin-right:15px;

}
.show-img2{
    margin-left:15px;
}
.show-content{
    margin-top:5px;
}
.show-content h2{
    margin-bottom:20px;
}
.show-content p {
    margin-bottom:70px;
}

/*TOP TREND*/
.top-trend img{
    height:100%;
}
.trend-content{
    margin-right:15px;
    margin-top:120px;
}
.top-trend{
    margin-top:120px;
    margin-bottom:120px;
}
.trend-content .line{
    margin-top:10px;
    margin-bottom:10px;
    width:230px;
}
.trend-content h3{
    margin-bottom:30px;
}
.trend-img1{
    margin-left:15px;
}
/*RECENTLY UPDATE*/
.title{
    margin-bottom:40px;
}
.title .col-6{
    text-align:center;
}
.title .line{
    width:530px;
    margin: 10px auto 20px auto;
}
/*SPECIAL CAKE*/


/*FOR THIS SEASON*/
.for-season{
    margin-top:120px;
    margin-bottom:120px;
}
