/*Showcase*/
.showcase{
    background-image: url("../img/showcase.jpg");
    background-size: cover;
}
.showcase .col-10{
    padding-top:95px;
    padding-bottom:95px;
}
.w-4{
    width:40%;
}
.w-6{
    width:60%;
}
.show-img{
    margin-left:15px;
    margin-right:15px;
}
.show-content{
    margin-left:30px;
    margin-top:69px;
}
.show-content h2{
    margin-top:5px;
    margin-bottom:40px;
}
.show-content p {
    margin-bottom:70px;
}
/*TOP TREND*/
.top-trend img{
    height:100%;
}
.trend-content{
    margin-right:15px;
    margin-top:120px;
}
.top-trend{
    margin-top:120px;
    margin-bottom:120px;
}
.trend1 {
    margin-left: 15px;
}
.trend-content .line{
    margin-top:10px;
    margin-bottom:10px;
    width:230px;
}
.trend-content h3{
    margin-bottom:30px;
}
/*RECENTLY UPDATE*/
.recently-update{
    margin-bottom:120px;
}
.title{
    margin-bottom:40px;
}
.update-content{
    text-align:center;
}
.update-content .line{
    margin:10px auto 20px auto;
    width:530px;
}
.update-list .cen{
    margin-left:15px;
    margin-right:15px;
}
.update-list .left{
    margin-right:15px;
}
.update-list .right{
    margin-left:15px;
}
/*FOR THIS SEASON*/
.for-season{
    margin-bottom:120px;
}More
