* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #222222;
    font-weight: 400;
    line-height: 1.35;
    background-color: #fafafa;
    font-family: 'Overlock', sans-serif;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: #222222;
}
a:hover {
    color: #2B4F60;
}

img {
    max-width: 100%;
}
