.related-result h4{
    margin-bottom:30px;
}
.top-results h4{
    margin-bottom:30px;
}
/*BANNER*/
.banner-search{
    padding-top:178px;
    padding-bottom:178px;
}
.banner-search h1{
    padding:0px;
    margin:0px;
}

/*TOP-RESULT*/
.top-results{
    margin-bottom:60px;
}


/*RELATED RESULTS*/

.btn-center{
    padding-top:60px;
    padding-bottom:120px;
}